* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  background-image: url(bg.jpg.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px rgba(126, 3, 250, 0.616);
}

section main h2 {
  font-weight: 600;
  color: rgb(62, 54, 54);
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgb(70, 18, 18);
  padding: 10px;
  color: rgb(240, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
  transition: 0.3;
}

section main a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

section main a {
  font-size: 1.2em;
}

section footer p {
  color: rgb(255, 253, 253);
  font-size: 0.7em;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section footer p a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
}
